

{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!-- Preloader -->
    <div id="preloader">
        <i class="circle-preloader"></i>
        <img src="{% static 'img/core-img/favicon.png' %}" alt="">
    </div>

    {% include 'partials/_busca.html' %}
    {% include 'partials/_home.html' %}

    <!-- ##### Best Receipe Area Start ##### -->
    <section class="best-receipe-area">
        <div class="container">
            <div class="row">
                {%if avasus %}
                {%for avasus in avasus %}
                <!-- Single Best Receipe Area -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-best-receipe-area mb-30">
                        {%if avasus.foto_curso == ''%}
                        <img src="{% static 'img/bg-img/curso7.png'%}" alt="">
                        {%else%}
                        <img src="{{ avasus.foto_curso.url}}" alt="">
                        {%endif%}
                        <div class="receipe-content">
                            <a href="{%url 'avasus' avasus.id%}">
                                <h5>{{avasus.nome_curso}}</h5>
                            </a>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {%else%}
                <div class="col-12 col-sm-6 col-lg-4">
                    <p>Curso não encontrado</p>
                </div>
                {%endif%}
            </div>
        </div>
    </section>
    <!-- ##### Best Receipe Area End ##### -->

    <!-- Footer -->
   {% include 'partials/_footer.html' %}
{% endblock %}
