<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cursos Avasus</title>
</head>
<body>
    <h1>Cursos Avasus</h1>
    <h2>Cursos Disponiveis</h2>
    
    <table>
        <thead>
            <tr>
                <td>Nome do Curso</td>
                <td>Carga Horaria</td>
                <td>Modulo</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Integração ao AVASUS e PEPSUS</td>
                <td>32</td>
                <td>1</td>
            </tr>
        </tbody>
    </table>

</body>
</html>